<div class="layout">
  <nav class="sidebar">
    <div class="logo">📋 Gestion Listes</div>
    <a routerLink="/lists" routerLinkActive="active"><span class="icon">📄</span>Mes listes</a>
    @if (auth.isAdmin) {
      <!--<a routerLink="/admin" routerLinkActive="active"><span class="icon">⚙️</span>Administration</a>-->
      <a routerLink="/users" routerLinkActive="active"><span class="icon">👥</span>Utilisateurs</a>
    }
  </nav>
  <div style="flex:1;display:flex;flex-direction:column">
    <div class="topbar">
      <span style="font-weight:600;color:#4f46e5">Gestion des Listes</span>
      <div class="user-info">
        <div class="avatar">{{initial}}</div>
        <span>{{auth.currentUser()?.username}}</span>
        @if (auth.isAdmin) { <span class="badge badge-blue">ADMIN</span> }
        <button class="btn btn-secondary btn-sm" (click)="auth.logout()">Déconnexion</button>
      </div>
    </div>
    <div class="main-content"><router-outlet/></div>
  </div>
</div>
